.counter-box {
	text-align: center;

	.counter-box-icon {
		font-size: 40px;
		vertical-align: middle;
		display: inline-block;
		line-height: 1;
	}

	.counter-box-count {
		color: $color_dark;
		margin: 10px 0;
		padding: 0;
		line-height: 40px;
		letter-spacing: -0.05em;
		font-size: 42px;
		font-weight: 700;
		font-family: $font_titles;

		img, .count {
			vertical-align: middle;
		}
	}

	p.subtitle {
		font-size: 14px;
	}

	h3.title {
		display: inline-block;
		font-size: 16px;
	}
}
