// Structure

$size_wrapped-container: 1320px;
$size_offset-fullwidth-container: 7%;

$size_page-offset-top: 80px;
$size_page-offset-bottom: 90px;

$size_page-offset-top-md: 30px;
$size_page-offset-bottom-md: 30px;


// Colors

$color_brand: #505cfd;

$color_dark: #404044;
$color_light-dark: #595959;

$color_white: #fff;

$color_gray: #d9d9d9;
$color_light-gray: rgba(0,0,0,.03);
$color_dark-gray: #999999;

$color_border: rgba(0,0,0,.15);
$color_dark-border: rgba(0,0,0,.4);
$color_fields-text: #666666;

$color_titles: #404044; 
$color_subtitles: #999999;
$color_texts: $color_light-dark;

$color_footer: rgba(255,255,255,.6);
$color_footer-border: rgba(255,255,255,.2);


// Typography

$font_main: "Rubik", sans-serif;
$font_main-size: 14px;

$font_code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font_pre: "Courier 10 Pitch", Courier, monospace;

$font_titles: "Poppins", sans-serif;
$font_subtitles: "Poppins", serif;

$font_lh-body: 1.5;
$font_lh-titles: 1.4;
$font_lh-subtitles: 1.4;
$font_lh-text: 1.4;