
.portfolio-page-custom-content {
	padding: 0 15px;

	@media screen and (max-width: 768px){
		padding: 0;
		margin: 0 -15px;
	}
}

.portfolio-page-onepage {
	position: relative;
	overflow: hidden;
}

.portfolio-page {
	position: relative;

	.images-wrap {
		padding-right: 0;

		img {
			width: 100%;
			float: left;
			margin-bottom: 5px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	.portfolio-content {
		padding: 80px 0 80px 70px;
		z-index: 2;
	}

	h2 {
		margin: 20px 0 5px;
		font-size: 36px;
		font-weight: 600;
		line-height: 1.2;
		text-decoration: none;
		display: block;
	}

	p {
		font-size: 15px;
	}

	.task-title {
		margin-top: 35px;
		font-size: 15px;
	}

	.description {
		margin-top: 15px;
	}

	.info {
		margin-top: 25px;
	}

	.info-list {
		list-style: none;

		li {
			width: auto;
			display: inline-block;
			min-width: 50px;
			max-width: 150px;
			margin-right: 40px;
			vertical-align: top;

			&:last-child {
				margin-right: 0px;
			}
		}

		.title {
			color: $color_dark-gray;
			margin: 0 0 5px 0;
			padding-bottom: 8px;
			border-bottom: 1px solid #ececec;
			font-size: 11px;
			font-weight: 600;
			text-transform: uppercase;
		}

		p {
			margin-top: 5px;
			font-size: 14px;
			color: #636363;
		}
	}

	.socialbar {
		margin-top: 15px;
		margin-left: -15px;

		a:first-child {
			margin: 5px 15px;
		}

		a {
			font-weight: 600;
			font-size: 13px;
			margin-top: 5px;
		}
	}

	.open-website {
		margin-top: 45px;
	}

	&.boxed {
		.images-wrap {
			padding-right: 15px;
		}
	}

	&.content-invert {
		.portfolio-content {
			padding: 80px 70px 80px 0;
		}
	}

	&.fullwidth {
		width: 100%;
		max-width: none;
		padding-left: 0;
		padding-right: 0;

		.portfolio-content {
			width: 635px;
			float: left;
			@media screen and (max-width: 1300px) and (min-width: 768px){
				width: 100%;
			}
		}

		&.full {
			.portfolio-content {
				width: 50%;
				padding-right: 7%;
			}
		}

		&.content-invert {
			.portfolio-content {
				float: right;
			}

			&.full {
				.portfolio-content-wrap {
					padding-left: 7%;
					padding-right: 0;
				}
				.portfolio-content {
					width: 100%;
					padding-left: 15px;
				}
			}
		}

		.images-wrap {
			padding-left: 0;
		}
	}

	&.fullscreen {
		width: auto;
		max-width: 50%;
		background: rgba(#333,.97);
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;

		.portfolio-content {
			padding: 60px;
			transition: .3s cubic-bezier(.45, 1, .65, 1);
			transition-property: width, height, padding;

			&.closed {
				padding: 30px 90px 20px 30px;
			}

			&.no-transition {
				transition: none;
			}

			.tag, h2, h4 {
				color: #fff;
			}

			p {
				color: #9a9a9a;
			}

			.tag {
				background: $color_brand;
				border-color: $color_brand;
			}

			h2 {
				font-size: 24px;
				font-weight: 600;
			}

			.info {
				.title {
					color: #fff;
					border-color: rgba(#ebebeb, .15);
				}

				a {
					color: inherit;
				}
			}
		}

		.toggle-btn {
			color: #fff;
			width: 70px;
			height: 70px;
			line-height: 72px;
			font-size: 26px;
			text-align: center;
			position: absolute;
			top: 0;
			right: 0;
			opacity: 1;
			cursor: pointer;

			&:hover {
				opacity: .8;
			}
		}
	}

	&.with-slider {
		.portfolio-content {
			padding: 0 15px 80px;
		}

		.info {
			margin-top: 10px;
		}

		.slider {
			margin-bottom: 40px;

			.owl-item {
				padding: 0 85px;
			}

			img {
				width: 100%;
			}
		}
	}

	&.header-full, &.portfolio-header-title {
		background-size: cover;
		background-position: center;
		height: 100vh;

		.back {
			color: #fff;
			position: absolute;
			left: calc( (100% - 700px)/4 );
			font-size: 14px;
			font-weight: 600;

			.icon {
				font-size: 20px;
				vertical-align: -3px;
				margin-right: 20px;
				opacity: .8;
			}
		}

		.content-center {
			background: rgba(#333,.7);
		}

		.portfolio-content {
			width: 700px;
			margin: 0 auto;
			padding: 30px 0;
			position: relative;
		}

		.tag {
			border-color: #fff;
		}	

		h2 {
			font-size: 62px;
		}

		.tag, h2, p {
			color: #fff;
		}

		.info .title {
			border-color: rgba(#fff,.25);
		}

		.info p a {
			color: #fff;
		}

		.scroll {
			color: #fff;
			position: absolute;
			bottom: 100px;
			left: calc( (100% - 700px)/2 );
			margin-left: -5px;
			font-size: 16px;
			transform: rotate(-90deg) translateY(-50%) translateX(100%);

			&:after {
				content: '';
				background: rgba(#fff,.5);
				width: 40px;
				height: 2px;
				position: absolute;
				right: 140%;
				top: 45%;
			}
		}
	}

	&.portfolio-header-title {
		height: auto;

		.portfolio-content {
			width: 800px;
			height: auto;
			text-align: center;
		}

		.content-center {
			padding: 14% 0 12%;
		}

		.tag {
			background: $color_dark;
			border-color: $color_dark;
		}

		.info-list {
			li {
				max-width: none;
				margin-right: 20px;
			}

			.title, p {
				width: auto;
				display: inline-block;
				font-size: 13px;
				font-weight: 500;
				line-height: 20px;
			}

			.title {
				color: #cbcbcb;
				margin: 0;
				padding: 0;
				border: none;
			}

			p {
				margin-bottom: 0;
			}
		}

		.scroll {
			left: 50%;
			bottom: 30px;
		}

		&.invert {
			h2, p, .scroll, .back {
				color: $color_dark;
			}

			.scroll:after {
				background: rgba($color_dark, .6);
			}

			.tag {
				background: $color_brand;
				border-color: $color_brand;
			}

			.content-center {
				background: rgba(#fff,.85);
			}

			.info-list .title {
				color: #777;
			}

			.info p a {
				color: $color_dark;
			}
		}
	}

	// Header title animation
	&.header-full, &.portfolio-header-title {
		h2, .tag, .info, .back, .scroll {
			opacity: 0;
			transform: translateY(30px);
			transition: .4s ease-in-out;
			transition-property: opacity, transform;
		}

		h2 {
			transition-delay: .15s;
		}
		.info {
			transition-delay: .3s;
		}
		.back {
			transition-delay: .5s;
			transform: translateX(30px);
		}
		.scroll {
			transition-delay: .4s;
			transform: rotate(-90deg) translateY(-50%) translateX(100%) translateX(30px);
		}

		&.show {
			h2, .tag, .info, .back {
				opacity: 1;
				transform: none;
			}
			.scroll {
				opacity: 1;
				transform: rotate(-90deg) translateY(-50%) translateX(100%);
			}
		}
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	.portfolio-page {

		.portfolio-content {
			padding: 40px 0 40px 40px;
			z-index: 2;
		}

		&.content-invert .portfolio-content {
			padding: 40px 40px 40px 0;
		}

		&.header-full, &.portfolio-header-title {
			h2 {
				font-size: 46px;
				line-height: 56px;
			}
		}

		&.header-full.show .scroll, 
		&.portfolio-header-title.show .scroll {
			display: none;
		}

		&.fullscreen {
			max-width: 70%;
		}
	}
}

@media screen and (max-width: 767px) {
	.portfolio-page {

		.portfolio-content  {
			.vc_row .vc_column_container > .vc_column-inner {
				padding-left: 15px;
				padding-right: 15px;
			}
		}

		&.boxed .images-wrap,
		.images-wrap {
			padding: 0;
			margin: 0 -25px;

			img {
				margin-bottom: 0;
			}
		}

		&.content-invert .portfolio-content,
		&.with-slider .portfolio-content,
		.portfolio-content {
			padding: 30px 0;
		}

		&.content-invert .portfolio-content,
		&.with-slider .portfolio-content {
			margin: 0 -15px;
		}

		.description {
			.vc_column_container > .vc_column-inner {
				padding-left: 15px;
				padding-right: 15px;
			}
		}

		.info-list {
			display: block;

			li {
				width: 100%;
				max-width: 100%;
			}
		}

		.socialbar {
			margin-top: 15px;

			a {
				margin-top: 5px;
			}
		}

		&.fullwidth,
		&.fullwidth.full,
		&.fullwidth.content-invert {
			padding: 0 25px;

			div.portfolio-content {
				width: 100%;
			}
		}

		&.header-full {
			height: auto;

			.portfolio-content {
				width: auto;
				padding: 90px 25px 25px;

				h2 {
					font-size: 36px;
				}
			}
		}

		&.portfolio-header-title {
			.content-center {
				padding: 0;
			}
			.portfolio-content {
				width: auto;
				padding: 120px 25px 60px;

				h2 {
					font-size: 36px;
				}
			}
			.info-list li {
				width: auto;
				margin: 0 5px;
			}
			.scroll,
			.back {
				display: none;
			}
		}

		&.fullscreen {
			position: static;
			max-width: none;

			.portfolio-content {
				padding: 30px 25px;
				margin: 0;
			}

			.open-website {
				margin-top: 15px;
			}
		}
	}

	.portfolio-page-onepage {
		.norebro-onepage {
			height: 100vh;
		}
		.toggle-btn {
			display: none;
		}
	}
}

.portfolio-comments #comments.comments-area {
	margin-top: 0;
}